<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Dashboard</title>
</head>
<body>
    {% include 'navbar.html' %}  {# Include the navigation bar #}
            <br>
            {% if current_user.is_authenticated %}
                {% if current_user.UserRole == 'admin' %}
                <div class="container mt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="text-center">User Dashboard</h1>
                                </div>
                                <div class="card-body">
                                    <a href="/analysis" class="btn btn-primary btn-block">Applications Analysis</a>
                                    <a href="/manage_users" class="btn btn-primary btn-block">Manage Users</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}

                <p>You must be an admin to view the administrator dashboard.</p>
                {% endif %}
            {% else %}
                To view your dashboard, please <a href="/login">login</a> or <a href="/register">register</a>.
            {% endif %}
    <ul>
        
    </ul>
</body>
</html>
