<!DOCTYPE html>
<html>
<head>
    <title>User Applications List</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <p></p>
        <a href='dashboard'>Back to Dashboard</a>
        <h1>User Applications List</h1>
        
        <div class="row">
            <div class="col-md-auto ml-auto">
                <a class="btn btn-primary" href="/new_application">Create New Application</a>
            </div>
        </div>
        
        <table id="applicationsTable" class="table">
            <thead>
                <tr>
                    <th>Application ID</th>
                    <th>Interview ID</th> <!-- New column for Interview ID -->
                    <th>Company</th>
                    <th>Position</th>
                    <th>Application Date</th>
                    <th>Location</th>
                    <th>Link</th>
                    <th>Feedback</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr>
                    <td>{{ application[0] }}</td>
                    <td><a href="/interviews/{{ application[10] }}">{{ application[10] }}</a></td> <!-- New cell for Interview ID -->
                    <td class="wrap">{{ application[2] }}</td>
                    <td class="wrap">{{ application[3] }}</td>
                    <td class="wrap">{{ application[4] }}</td>
                    <td class="wrap">{{ application[6] }}</td>
                    <td class="wrap"><a href="{{ application[7] }}" target="_blank">Link</a></td>
                    <td class="wrap">{{ application[8] }}</td>
                    <td>
                        <button class="btn btn-primary" onclick="editApplication({{ application[0] }})">Edit</button>
                        <button class="btn btn-danger" onclick="deleteApplication({{ application[0] }})">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap and DataTables JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            jQuery('#applicationsTable').DataTable({
                scrollY: "300px",
                searching: true,
            });
        });
        
        function editApplication(applicationId) {
            // Implement code to open an edit modal dialog or redirect to an edit page.
            window.location.href = "/edit_application/" + applicationId;
        }
        
        function deleteApplication(applicationId) {           
                window.location.href = "/delete_application/" + applicationId;
        }
    </script>
    <style>
        .wrap {
            word-wrap: break-word;
        }
    </style>
</body>
</html>
